body {
    text-align: center;
}

/* Title */
h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    font-size: 60px;
	color: aliceblue;
    margin: 0.2em;
    padding: 25px;
	background-color:#0455B5;
	border: 8px dashed;
	border-top-color: red;
	border-bottom-color: darkblue;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
	color: red;
}

h3 {
    font-family: "Bradley Hand", "Arial Black", "sans-serif";
    font-size: 40px
}

/* Thank You Message */
h4 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    color: aliceblue;
    margin: 2.2em;
    padding: 25px;
    background-color:#0455B5;
    border: 8px dashed;
    border-top-color: red;
    border-bottom-color: darkblue;
}
table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
